.pfp1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 10%;
  height: auto;
}

.heading2 {
  padding-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#bottomtext {
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  text-align: center;
  padding-bottom:  10px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ffffff;
  bottom:  0px;
  width:  100%;
}

body {
      background-color: #328CC1;
    }

p.intro {
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #ffffff;
}

a.button1 {
  background-color: #D9B310;
  border: none;
  width: 30%;
  color: #EBEBEB;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition-duration: 0.4s;

}

a.button1:hover {
  background-color: #F1D250;
  color: #FFFFFF;
}